<div id="content" #content>
  <h1>The Title</h1>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <!--ADD_PAGE-->
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
  <p>load name for print to pdf</p>
</div>

<button (click)="downloadPDF()">Export to PDF</button>
<button (click)="savepdf()">Export to PDF</button>